/*body{
	background: url("../img/bg.jpg") no-repeat;
}*/

.bg_logo_konten{
	background: 
		linear-gradient(rgba(0, 102, 204,0.9),rgba(0, 102, 204,0.9)), 
		url("../img/bg.jpg");
	color: #0066cc;
	background-size: cover;
}
.row_pjg{
	height: 100vh;
}
.logo{
	background: url("../img/logo2.png") no-repeat;
	background-size: 200px;
	position: relative;
	top: 150px;
	left: 100px;
/*	width: 100px;
	height: 50px;
	top: 200px;
	right: 415px;
	position: relative;*/
}
.login_box{
	position: relative;
	top: 250px;
	left: 415px;	
}
.rounded_input{
	border-radius: 30px;
	padding: 2% 2% 2% 6%;
	border-color: #979797;
	color: #4f4f4f;
	font-size: 18px;
}
.rounded_btn_login{
	width: 100px;
	border-radius: 30px;
	background-color: #ffffff;
}
.biru{
	color: #0066cc;
}
.putih{
	color: #ffffff;
}
.signup{
	padding-left: 15px;
}
.header{
	padding-top: 20px;
	padding-left: 30px;
	padding-right: 30px;
	font-size: 15px;
}
.footer{
	padding-top: 470px;
	padding-left: 400px;
	padding-right: 300px;
	font-size: 10px; 
}